---
const buttons = [
  { sort: "name", name: "Имя" },
  { sort: "iso", name: "Дата" },
];
---

<div class="flex justify-between gap-2 mt-5 mb-1">
  <div class="shrink">
    <input
      type="text"
      class="search px-2 w-full bg-gray-700 text-gray-300 placeholder-gray-400 border border-gray-500 rounded-md"
      placeholder="Поиск..."
    />
  </div>
  <div class="flex gap-2 shrink-0">
    {
      buttons.map((button, index) => (
        <button
          type="button"
          class="sort py-3 px-2 sm:px-3 rounded-md text-sm transition-all bg-blue-800 hover:bg-blue-700 text-gray-200"
          class:list={index === 0 ? "asc" : ""}
          data-sort={button.sort}>
          {button.name}
        </button>
      ))
    }
  </div>
</div>

<style>
  .sort.asc::after {
    content: "▲";
  }
  .sort.desc::after {
    content: "▼";
  }
</style>